!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => 'basic.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'specific.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'grid.css', :type => 'text/css' }
    %title Picky, the small text search engine in Ruby.
  %body
    .header
      %a{ :href => 'http://github.com/floere/picky' }
        %img{ :style => 'position: fixed; top: -10px; right: 0; border: 0;', :src => 'images/forkme.png', :alt => 'Fork me on GitHub' }
    .picky{ :title => 'Snapshot of Picky, indexing data.' }
    .container_2
      %h1 Picky
      .navigation
        %a{ :href => 'index.html' } home
        %a{ :href => 'examples.html' } examples
        %a{ :href => 'videos.html' } videos
        %a{ :href => 'status.html' } status and contributions
    .container_2
      %h2 Status and Contributions
      .grid_1
        %h3 Status
        %p
          Currently we are working towards a 1.0 release. The feature set is useful for many types of searches. What's still missing is a complete Wiki.
        %p
          Quite a few more features are planned.
        %p
          See the
          %a{ :href => 'http://github.com/floere/picky/wiki/Roadmap' } Roadmap
          to see what's going to happen next.
      .grid_1
        %h3 Contributions
        %p
          Many people have worked on Picky.
        %p
          See the
          %a{ :href => 'http://github.com/floere/picky/wiki/Contributions-and-contributors' } list of Contributors
          to see who has helped Picky become what it is today.
        %p
          If you want to contribute, see
          %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
          under "Extending and contributing to Picky" to see how to add new data sources etc.
          