---
title: Documentation
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h2 API Docs
    %p
      For a documentation on how to configure Picky, see
      %a{ :href => 'http://floere.github.com/picky/doc/index.html' } the API docs
      and for a bit more info
      %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
      in the repository.
  .grid_1
    %h2 Help?
    %p
      If neither the docs, nor the Wiki has helped, feel free to contact me
      %a{ :href => 'http://github.com/inbox/new/floere' } through Github
      or go through
      %a{ :href => 'http://groups.google.com/group/picky-ruby' } the mailing list
      of Picky (preferred).
    %p
      All the best!