---
title: Features
layout: default
---

.container_2
  %h2 Features
  .grid_1
    %p
      %h3 Full-blown Search Server
      %h3 Helpful, comfortable web client
      %h3 Integration in Rails/Sinatra/etc.
      %h3 Clam: Statistics Server
      %h3 Suckerfish: Live Interface into a running Picky