---
title: The Ruby small text search engine.
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h2 What's that?
    %p
      Picky is a really
      %strong easy to use
      and
      %strong fast
      Ruby search engine that helps your users
      %strong find what they are looking for.
    %h3 Try…
    %p
      A simple
      %a{ :href => 'http://picky-simple-example.heroku.com/' } library example
      (wait 3 seconds for it to boot up).
    %p
      The
      %a{ :href => 'examples.html' } examples section
      offers more.
    %h3 What it is
    %p A small-text search engine (web) service for categorized data, such as varchar fields from a database.
    %p
      Continue reading in the
      = succeed('.') do
        %a{ :href => 'details.html' } In Detail section
    %h3 What it is not
    %p
      A full-text search engine for uncategorized data (like in a book). If you need that, look at
      %a{ :href => 'http://sphinxsearch.com/' } Sphinx
      or
      = succeed('.') do
        %a{ :href => 'http://lucene.apache.org/solr/' } Solr (Lucene)
      They will help.
  .grid_1
    %h2 Getting Started
    %p
      Got 5 minutes?
      %a{ :href => 'getting_started.html' } Install and run Picky
      on your computer and adapt the examples.