---
title: Status and Contributions
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h3 Status
    %p
      Currently we are working towards a 1.0 release. The feature set is useful for many types of searches. What's still missing is a complete Wiki.
    %p
      Quite a few more features are planned.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/wiki/Roadmap' } Roadmap
      to see what's going to happen next.
  .grid_1
    %h3 Contributions
    %p
      Many people have worked on Picky.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/wiki/Contributions-and-contributors' } list of Contributors
      to see who has helped Picky become what it is today.
    %p
      If you want to contribute, see
      %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
      under "Extending and contributing to Picky" to see how to add new data sources etc.