---
title: Status and Contributions
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h2 Status
    %p
      We have passed 1.0 (yay!) and are currently working towards a 1.2.x release, which will contain a range search, an area search, and a volume search. Also, we will be dabbling in the prospects of 0mq.
      (quite a bit of performance is lost on preparing the http response)
    %p
      Quite a few more features are planned.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/wiki/Roadmap' } Roadmap
      to see what's going to happen next.
    %h2 Press
    %p
      Picky has been mentioned in a few places. Check them out:
      %ul
        %li
          %a{ :href => 'http://5by5.tv/rubyshow/142' } The Ruby Show
          (Thanks to
          %a{ :href => 'http://5by5.tv/people/jason-seifer' } Jason Seifer
          and
          = succeed(')') do
            %a{ :href => 'http://5by5.tv/people/petercooper' } Peter Cooper
        %li
          %a{ :href => 'http://rubyweekly.com/archive/18.html' } Ruby Weekly
          (Thanks to
          = succeed(')') do
            %a{ :href => 'http://www.petercooper.co.uk/' } Peter Cooper
  .grid_1
    %h2 Contributions
    %p
      Many people have worked on Picky.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/wiki/Contributions-and-contributors' } list of Contributors
      to see who has helped Picky become what it is today.
    %p
      If you want to contribute, see
      %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
      under "Extending and contributing to Picky" to see how to add new data sources etc.