---
title: "Videos: Presentations & Screencasts"
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h2 Presentations
    %h3 EuRuKo 2010, Krakow, Poland
    %p
      Using a real
      %a{ :href => 'http://twixtel.ch' } telephone search
      as an example.
    %iframe{ :src => "http://player.vimeo.com/video/12614970", :width => "460", :height => "365", :frameborder => "0" }
    %p
      This was at the fantastic
      %a{ :href => 'http://euruko2010.org/' } EuRuKo 2010
      Conference in
      %a{ :href => 'http://www.google.ch/images?q=krakow+poland' } beautiful
      Krakow.
    %h3 Your conference?
    %p
      I'm looking for a Ruby conference in Europe (or near) during Winter 2010 to show Picky.
      Send me a message if you're interested.
  .grid_1
    %h2 Screencasts
    %h3 Getting started with Picky
    %p
      Doing the
      %a{ :href => 'file:///Users/admin/temp/picky.pagez/index.html' } Getting Started
      part (see right column).
    %iframe{ :src => "http://player.vimeo.com/video/17161012", :width => "460", :height => "365", :frameborder => "0" }
    %h3 Why and when should I use a small-text search?
    %p Yet to come.