.container_2 { overflow: hidden; }

.grid_2.white { background-color: #f5f5ea; }

.header { width: 100%; height: 70px; background-color: #199399; }

.footer { background-image: url("../images/picky-small.png"); background-repeat: no-repeat; background-position: center; width: 46px; height: 30px; position: fixed; bottom: -19px; left: 47%; }

.picky { width: 125px; height: 350px; margin: -65px auto -270px; background-image: url("../images/picky-new.png"); }

h1 { width: 400px; }

body { /*  :width 600px */ /*  :margin 1em auto */ font-family: "Lucida Grande"; line-height: 1.4; background-color: beige; }

iframe { padding: 10px; }

ol { margin-left: 20px; }
ol li { list-style: decimal inside; }

ul { margin-left: 30px; }
ul li { list-style-type: disc; }

pre { margin: 10px 0 0 0; }

div.navigation a { font-size: 0.99em; font-family: Futura, "Century Gothic", "URW Gothic L", Helvetica, sans-serif; padding: 0px 10px; margin: 0px 5px; }
div.navigation a.right { float: right; }
div.navigation a.current { color: black; background-color: white; }
