!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/basic.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/specific.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/grid.css', :type => 'text/css' }
    %title
      Picky:
      = h page.title
  %body
    .header
      %a{ :href => 'http://github.com/floere/picky' }
        %img{ :style => 'position: fixed; top: -10px; right: 0; border: 0;', :src => 'images/forkme.png', :alt => 'Fork me on GitHub' }
    .picky{ :title => 'Happy Picky (drawn on iPhone)' }
    .container_2
      %h1 Picky
      .navigation
        - def class_for(url, klass = ''); if page.url == url then "current #{klass}" else klass end end
        %a{ :href => 'index.html', :class => class_for('/index.html') } about
        %a{ :href => 'details.html', :class => class_for('/details.html') } details
        %a{ :href => 'getting_started.html', :class => class_for('/getting_started.html') } getting started
        %a{ :href => 'documentation.html', :class => class_for('/documentation.html') } documentation
        
        %a{ :href => 'enterprise.html', :class => class_for('/enterprise.html', 'right') } biz?
        %a{ :href => 'status.html', :class => class_for('/status.html', 'right') } status &amp; contributions
        %a{ :href => 'videos.html', :class => class_for('/videos.html', 'right') } videos
        %a{ :href => 'examples.html', :class => class_for('/examples.html', 'right') } examples
    = content
    .container_2
      .grid_2
        .decoration
    .footer